{% extends '@layout/default.html.twig' %}

{% block title %}Template for App\Handler\EditUserInfoHandler{% endblock %}

{% block content %}
    <a class="navbar-brand" href="{{ asset('/') }}">
        <h1>Home</h1>
    </a>

    <a class="navbar-brand" href="{{ absolute_url('/hello') }}">
        <h1>Hello</h1>
    </a>



{% endblock content %}
